
#header #title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 20px 5px 0;
    display: inline;
}

#header #title a {
    color: #eee;
    text-decoration: none;
}

#header #title a:hover {
    color: #eee;
    text-decoration: none;
}

#header #description {
    font-size: 1em;
    font-weight: bold;
    padding: 0 0 0 0;
    display: inline;
}

#navi {
    background: #666;
}

#navi ul {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navi ul li {
    display:inline;
    float: left;
    border-right: 1px solid #333;
    margin: 0;
    padding: 0;
}

#navi a { 
    color: #fff;
    font-size: 1em;
    font-weight: normal;
    padding: 4px 15px;
    text-decoration: none;    
}

#navi a.active { 
    font-weight: bold;
    background: #000;
}

.sidebar ul {
    color:#ccc;
}

.sidebar ul li {
    list-style-type:square;
    margin-bottom: 0.5em;
}

.sidebar h4 {
    color: #ccc;
    margin-bottom: 1em;
}

.sidebar a { 
    text-decoration: none;
}

.article .date { 
    color: #ccc;
}

.article .tags a {
    color: #ccc;
    text-decoration: none;
}

