
#header #title {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 20px 5px 0;
    display: inline;
}

#header #title a {
    color: #069;
    text-decoration: none;
}

#header #title a:hover {
    color: #222;
    text-decoration: none;
}

#header #description {
    color: #69c;
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 0 0;
    display: inline;
}

#navi {
    background: #69c;
}

#navi ul {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navi ul li {
    display:inline;
    float: left;
    border-right: 1px solid #fff;
    margin: 0;
    padding: 0;
}

#navi a { 
    color: #fff;
    font-size: 12px;
    font-weight: normal;
    padding: 4px 15px;
    text-decoration: none;    
}

#navi a.active { 
    font-weight: bold;
    background: #369;
}

.sidebar ul {
    color:#336699;
}

.sidebar ul li {
    list-style-type:square;
    margin-bottom: 0.5em;
}

.sidebar h4 {
    color: #369;
    margin-bottom: 1em;
}

.sidebar a { 
    text-decoration: none;
}

.article .date { 
    color: #666;
}

.article .tags a {
    color: #69c;
    text-decoration: none;
}

