.code-area {
    width:100%;
}

.code-link {
    padding-left:1em;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}

.code-link a {
    text-decoration: none;
    font-size: 0.8em;
}

pre.highlight {
    margin: 0;
    margin-bottom:1em;
    background: #000;
    border: 1px solid #666;
}

pre.highlight ol {
    margin: 0;
    color: #ccc;
}

.af { color:#aaf }
.an { color:#aac }
.av { color:#fcc }
.c  { color:#888 }

.cl { color:#B06; font-weight:bold }
.co { color:#99f; font-weight:bold }
.ds { color:#D42; font-weight:bold }
.e  { color:#666; font-weight:bold }
.en { color:#800; font-weight:bold }
.gv { color:#d70; font-weight:bold }
.ic { color:#B44; font-weight:bold }

.il { background: #eee }
.il .il { background: #ddd }
.il .il .il { background: #ccc }
.il .dl { font-weight: bold ! important; color: #888 ! important }

.in { color:#B2B; font-weight:bold }
.iv { color:#99B }
.la { color:#fc0; font-weight:bold }
.lv { color:#fca }
.oc { color:#fcf; font-weight:bold }
.on { color:#fff; font-weight:bold }
.op { }
.pc { color:#99f; font-weight:bold }
.pd { color:#99f; font-weight:bold }
.pp { color:#99f }
.pt { color:#ff9; font-weight:bold }
.r  { color:#9f9; font-weight:bold }

.s  { }
.s  .k { color:#fcc }
.s  .dl { color:#ccc }
