body {
    line-height: 1.5;
    color: #ccc;
    background: #333;
    margin:0.5em 0;
}

a, a:visited {
  color: #ccc;
}

p {
    margin-bottom: 1em;
}

code {
    background: #111;
    border: 1px solid #666;
    padding: 2px 5px;
    font-family: monospace;
    font-size: 1em;
}

pre {
    margin: 10px 0;
    overflow: auto;
}

.container {
    width: 600px;
    margin: 0 auto;
}

#header {
    padding: 20px 20px 5px 0;
}

#header a {
    color: #eee;
    text-decoration: none;
}

#header a:hover {
    color: #eee;
    text-decoration: none;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.2em; }
h3,h4 { font-size: 1em; }
