
table {
    border-collapse: separate;
    border-spacing: 0;
}

table {
  background: #fff;
  margin-bottom: 10px;
  width: 100%;
}

thead th {
  padding: 2px 9px;
  text-align: left;
}

tbody td {
  padding: 2px 9px;
}
