
.sidebar ul {
    color:#336699;
}

.sidebar ul li {
    list-style-type:square;
    margin-bottom: 0.5em;
}

.sidebar h4 {
    color: #369;
    margin-bottom: 1em;
}

.sidebar a { 
    text-decoration: none;
}
