<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Matthias Georgi</title>
    <meta name="Keywords" content="Matthias Georgi, Blog" />
    <meta http-equiv="Content-Language" content="English" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="$root$index.rss" />
    <link rel="stylesheet" media="screen" type="text/css" href="$root$style.css" />
  </head>
  <body>
    <div class="container">
      <div id="header" class="column span-13 last">
        <div id="title"><a href="$root$index.html">Matthias Georgi</a></div>
      </div>

      <div class="content">
        $content$
      </div>
    </div>
  </body>
</html>
